.venv/
__pycache__/
*.py[cod]
.env
.git/
.gitignore
.github/
.pytest_cache/
tests/
/reporting/
compose.yaml
packages/markdown/node_modules/
packages/rendering/node_modules/
packages/rendering/dist/
packages/bitwarden/node_modules/
schema.graphql
*.swp
*.swo
.DS_Store
